<div class="row justify-content-end pb-3">
    <div class="col-auto">
      <button class="btn gradient px-5" (click)="print()">
        {{ "admissionForm.print" | translate }}
      </button>
    </div>
  </div>
  <div class="card px-4 py-5 logo-card">
    <img class="bg-card" src="assets/images/logo-footer.png">
    <span class="row justify-content-end mx-4">{{"importBoxReceipt.receiptNumber"| translate}}</span>
  
    <div style="line-height: 2rem;">
      <div class="row mx-1">
        <div class="col-8">
          <span>{{"importBoxReceipt.name"| translate}}</span>
          :
          صندوق حماية البيئة
        </div>
  
  
        <div class="col-4" formControlName>
          <span>{{"importBoxReceipt.date"| translate}}</span>
          :
        {{invoiceOfRequest?.createdDate}}
        </div>
      </div>
  
      <div class="col-12">
        <span>{{"importBoxReceipt.code"| translate}}</span>
        :
        {{invoiceOfRequest?.establishCode}}
      </div>
  
      <div class="row mx-1 align-items-start">
        <span class="col-auto">{{"importBoxReceipt.requestName"| translate}}</span>
        :
        <span class="col-auto">
          <span>
            {{invoiceOfRequest?.requesterName}}
          </span>
          <br>
          <span>
            {{invoiceOfRequest?.companyName}}-{{invoiceOfRequest?.companyNumber}}
          </span>
        </span>
      </div>
      <div class="col-12">
        <span>{{"importBoxReceipt.payWay"| translate}}</span>
        :
      {{invoiceOfRequest?.paymentType}}
      </div>
    </div>
  
    <span class="row justify-content-center mx-5">
      {{"importBoxReceipt.receipt"| translate}}
      {{invoiceOfRequest?.invoiceNumber}}
    </span>
  
    <table class="table table-bordered my-2">
      <tbody>
        <tr>
          <td class="p-1">
            <span>{{ "importBoxReceipt.no" | translate}}</span>
          </td>
          <td class="p-1">
            <span>{{ "importBoxReceipt.ServicesProvided" | translate}}</span>
          </td>
          <td class="p-1">
            <span>{{ "importBoxReceipt.amount" | translate}}</span>
          </td>
        </tr>
 
        <tr *ngFor="let detail of invoiceOfRequest?.requestFeesInvoiceDetailDtoList;  index as i ">
          <td class="p-1">
            <span>{{i+1}}</span>
          </td>
          <td class="p-1">
            <span>
             {{detail.service}}
              <br>
              من 29/8/2022 الي 29/8/2022
              <br>
              رقم : 2224100051500019
            </span>
          </td>
          <td class="p-1">
            <span>{{detail.amount}} {{ "importBoxReceipt.eg" | translate}} </span>
          </td>
        </tr>
        <tr>
          <td class="p-1"></td>
          <td class="p-1">
            <span>{{ "importBoxReceipt.total" | translate}}</span>
          </td>
          <td class="p-1">
            <span>{{totalInvoice}} {{ "importBoxReceipt.eg" | translate}} </span>
          </td>
        </tr>
      </tbody>
    </table>
  
    <span class="text-center mt-5">
      {{invoiceOfRequest?.feesInArabic }} فقط
    </span>
  
    <hr style="background-color: black;">
  
    <span>ماقبله 0  {{ "importBoxReceipt.eg" | translate}}</span>
    <span>{{ "importBoxReceipt.total" | translate}} {{totalInvoice}} {{ "importBoxReceipt.eg" | translate}} </span>
  </div>
  
  <div class="row justify-content-center pb-3">
    <div class="col-auto">
      <button class="btn gradient px-5 mt-4" (click)="backToexpense()">
        {{ "admissionForm.back" | translate }}
      </button>
    </div>
    <div class="col-auto">
      <button class="btn gradient px-5 mt-4" (click)="sendToCoalAdministration()" *ngIf="requestStatus == 'ConfirmPaymentEEA' ">
        {{"importBoxReceipt.send" | translate }}
      </button>
    </div>
    <div class="col-auto">
      <button class="btn gradient px-5 mt-4" (click)="NavigateToAcceptTemplateForm()" *ngIf="requestStatus == 'AcceptForm' || requestStatus =='AcceptFormT' ">
        {{"importBoxTemp1.consentform" | translate }}
      </button>
    </div>
  </div>
